body {
    background-image: url('../imagenes/adminback.svg');
    background-size:cover;
    
}

.searchbox{

    border : solid;
    border-width : 1px;
    border-color : white;


}

.selection {
    background-image: url('../imagenes/backselection.svg');
    background-size: cover;
    border : solid;
    border-width : 1px;
    border-color : white;
}

.selection:hover {
    background-image: url('../imagenes/backselection.svg');
    background-size: cover;
    border: solid;
    border-width: 1px;
    border-color: greenyellow;
}


.onratio{

    border-radius : 5px;


}

.btnIns{

    background : none;

}

.btnIns:hover {
    background: rgb(42, 42, 42);
}

.botones {
    border: solid;
    border-color: lightgray;
    border-width: 2px;
    background-color: black;
    color: white;
}

    .botones:hover {
        border: double;
        border-color: dimgray;
        border-width: 2px;
        background-color: lightslategray;
    }

.txtcajas {
    background-color : rgb(25, 25, 25);
    border: solid;
    border-color: lightgray;
    border-width: 3px;
    color : white;
}

.NotVisible{

    display:none;

}

.Deletebtn {
    border: solid;
    border-color: black;
    border-width: 3px;
    background-color: red;
    color: white;
}

.Deletebtn:hover {
    border: solid;
    border-color: black;
    border-width: 3px;
    background-color: indianred;
    color: white;
}

.controles{

    border-radius : 5px;
    background-color : rgb(0, 0, 0);
    

}

.btnDeleteUser {
    background: none;
    background-image: url('../imagenes/editorprivacysection/dash-circle.svg');
    background-size: cover;
    height: 20px;
    width: 20px;
    border: none;
}

.imgUser {
    border: none;
    border-radius: 50%;
}

.isuserbox {
    background-color: rgb(36, 36, 36);
    border-color: red;
    border: solid;
    border-radius: 5px;
    border-width: 1px;
    
}

.cajasanim {
    opacity: 0; /* Inicialmente oculto */
    animation-name: aparecer;
    animation-duration: 2s; /* Duración de la animación */
    animation-delay: 0.5s; /* Retraso antes de comenzar la animación */
    animation-fill-mode: forwards; /* Mantiene el estado final de la animación */
    transition: width 0.5s ease, height 0.5s ease;
}

@keyframes aparecer {
    from {
        opacity: 0; /* Comienza completamente transparente */
    }

    to {
        opacity: 1; /* Termina completamente visible */
    }
}
