body {
    background-image: url('../imagenes/projectsBack.svg');
    background-size : cover;
}


.contproject {

    background-image: url('../imagenes/Incircle.svg');
    background-size : cover;
    height : 500px;
    border : solid;
    border-radius : 10px;
    border-color : lightcoral;
    border-width : 1px;
   
}


.imgint{




}

.titlediv {
    padding : 15px;
    text-align : center;    
    background-image: url('../imagenes/OnBar.svg');
    background-size : cover;
    height : 50px;
    border-radius : 5px;
}


.botones {
    border: solid;
    border-color: lightgray;
    border-width: 2px;
    /*background-color: white;*/
    color: white;
    background-image: url('../imagenes/buttons/btn_base_1.svg');
    background-size : cover;
}

    .botones:hover {
        border: double;
        border-color: dimgray;
        border-width: 2px;
        background-image: url('../imagenes/buttons/btn_base_hover_1.svg');
        background-size: cover;
        /*background-color: lightslategray;*/
    }

.txtcajas {
    background : gray;
    border: solid;
    border-color: lightgray;
    border-width: 3px;
    background-image: url('../imagenes/buttons/btn_base_1.svg');
    background-size: cover;
    color : white;
}


.textoanim {
    opacity: 0; /* Inicialmente oculto */
    animation-name: aparecer;
    animation-duration: 5s; /* Duración de la animación */
    animation-delay: 0.5s; /* Retraso antes de comenzar la animación */
    animation-fill-mode: forwards; /* Mantiene el estado final de la animación */
}

@keyframes aparecer {
    from {
        opacity: 0; /* Comienza completamente transparente */
    }

    to {
        opacity: 1; /* Termina completamente visible */
    }
}

.girar {
    animation-name: girar-infinitamente;
    animation-duration: 120s; /* Duración de la animación */
    animation-iteration-count: infinite; /* Repetición infinita */
    animation-timing-function: linear; /* Función de temporización lineal */
}

@keyframes girar-infinitamente {
    0% {
        transform: rotate(0deg); /* Sin rotación al inicio */
    }

    100% {
        transform: rotate(360deg); /* Rotación completa en sentido horario */
    }
}

