body {
}

.canvaslayer{

    position : relative;
    top : 0px;
    height : 600px;
    width : 600px;
    background-color : lightgray;
    border-style : double;
    border-color : black;
    border-width : 2px;
    border-radius : 0px;
}

