body {
    background-image: url('../imagenes/editor_back.svg');
    background-size: cover;
}

.canvaslayer{

    position : relative;
    top : 0px;
    height : 600px;
    width : 600px;
    background-color : lightgray;
    border-style : double;
    border-color : black;
    border-width : 2px;
    border-radius : 0px;
}

.superiorBar {
    position: sticky;
    top: -2px;
    z-index: 20000;
    background-image: url('../imagenes/editorsupbar.svg');
    background-size: cover;
    height : 150px;
}


.tkbutton {
    width: 60px;
    height: 60px;
}


.tkButtonbtn {
    background-image: url('../imagenes/tkbuttons/btnbutton.svg');
    background-size: cover;
}

    .tkButtonbtn:hover {
        background-image: url('../imagenes/tkbuttons/btnbuttonhover.svg');
        background-size: cover;
    }


.tkLabelbtn {
    background-image: url('../imagenes/tkbuttons/btnlabel.svg');
    background-size: cover;
}
    .tkLabelbtn:hover {
        background-image: url('../imagenes/tkbuttons/btnlabelhover.svg');
        background-size: cover;
    }

.tkTextboxbtn {
    background-image: url('../imagenes/tkbuttons/btntextbox.svg');
    background-size: cover;
}

    .tkTextboxbtn:hover {
        background-image: url('../imagenes/tkbuttons/btntextboxhover.svg');
        background-size: cover;
    }

.chekers{

    height : 30px;
    background-color : none;
    border-radius : 3px;
}

.chekers:hover {
    background-color : lightgray;;
}

.tkCheckboxbtn {
    background-image: url('../imagenes/tkbuttons/btncheckbox.svg');
    background-size: cover;
}

    .tkCheckboxbtn:hover {
        background-image: url('../imagenes/tkbuttons/btncheckboxhover.svg');
        background-size: cover;
    }


.tkcontainerElements {

    border : solid;
    border-width : 1px;
    border-color : darkslategray;



}

.limitlienzo {
    overflow: auto;
    height: 500px;
    border-style : solid;
    border-width : 2px;
    border-color : darkred;
}

.botones {
    border: solid;
    border-color: lightgray;
    border-width: 3px;
    background-color: white;
}

    .botones:hover {
        border: double;
        border-color: dimgray;
        border-width: 3px;
        background-color: lightslategray;
    }

.txtcajas {
    border: solid;
    border-color: lightgray;
    border-width: 3px;
}

.checkscontainer{

    border : solid;
    border-width : 1px;
    border-color : lightgray;



}

.infobox {
    border: solid;
    border-width: 1px;
    border-color: darkslategray;
    
}

.closebtn {
    background:none;
    background-image: url('../imagenes/x-circle.svg');
    background-size : cover;
    height : 30px;
    width : 30px;
    border : none;

}

.limitProperties{

    overflow : auto;
    height : 500px;
    border : solid;
    border-color : darkred;
    border-width : 1px;
}