body {


}

.userpicture {

    width : 200px;
    height: 200px;
    border-radius : 50%;


}

.infouserbox {
    border: solid;
    border-color: lightgray;
    border-width: 2px;
    background-image: url('../imagenes/userback.svg');
    background-size:cover;
}

.Editbnt{

    height:20px;
    position : relative;
    top : 4px;


}

.avatarimg{

    height:150px;


}

.avatarimgbox{

    border-style:solid;
    border-color : gray;


}


.imgselector{

    border:solid;
    border-color:white;
    
}

.imgselector:hover{

    border-color : black;


}

.nameSpace{

    border:solid;
    border-color:gray;
    border-width : 2px;

}

.paswordspace {
    border: solid;
    border-color: gray;
    border-width: 2px;
}


