body {
    
    background-image: url('../imagenes/userpageback.svg');
    background-size : cover;
}

.userpicture {

    width : 200px;
    height: 200px;
    border-radius : 50%;


}

.infouserbox {
    height : auto;
    width : auto;
    border: solid;
    border-color: lightgray;
    border-width: 2px;
    background-image: url('../imagenes/userback.svg');
    background-size: cover;
    transition: width 0.5s ease, height 0.5s ease;
}

.Editbnt{

    height:20px;
    position : relative;
    top : 15px;


}

.avatarimg{

    height:150px;


}

.avatarimgbox{

    border-style:solid;
    border-color : lightgray;


}


.imgselector{

    border:solid;
    border-color:white;
    
}

.imgselector:hover{

    border-color : black;


}

.nameSpace{

    border:solid;
    border-color:lightgray;
    border-width : 2px;

}

.paswordspace {
    border: solid;
    border-color: lightgray;
    border-width: 2px;
}


.w-90{

    width : 90%;


}



.txtcajas {
    border: solid;
    border-color: lightgray;
    border-width: 3px;
}

.botones {
    border: solid;
    border-color: lightgray;
    border-width: 3px;
    background-color: white;
}

    .botones:hover {
        border: double;
        border-color: dimgray;
        border-width: 3px;
        background-color: lightblue;
    }

.uploadimgbox {
    border: solid;
    border-color: lightgray;
    border-width: 2px;
}

.cajasanim {
    opacity: 0; /* Inicialmente oculto */
    animation-name: aparecer;
    animation-duration: 2s; /* Duración de la animación */
    animation-delay: 0.5s; /* Retraso antes de comenzar la animación */
    animation-fill-mode: forwards; /* Mantiene el estado final de la animación */
    transition: width 0.5s ease, height 0.5s ease;
}

@keyframes aparecer {
    from {
        opacity: 0; /* Comienza completamente transparente */
    }

    to {
        opacity: 1; /* Termina completamente visible */
    }
}