body {
    margin: 0px;
    padding: 0px;
    /*background-image: url('../imagenes/inicio/inicioback.svg');*/
    background-image: url('../imagenes/inicio/starsbg.svg');
    background-size: cover;
}

divgen {
    background-image: url('../imagenes/inicio/starsbg.svg');
    background-size : cover;
}

.selection {
    border: solid;
    border-color: black;
    border-width: 1px;
}

    .selection:hover {
        animation-name: selectedBox;
        animation-duration: 1s;
        animation-delay: 0s;
        animation-direction: normal;
        animation-fill-mode: forwards;
    }

@keyframes selectedBox {

    from {
        border-color: black;
    }

    to {
        border-color: white;
    }
}



.isInitialHiden{

    /*opacity : 0%;*/

}


.TitleBack {
    
    background-image: url('../imagenes/inicio/pynterfase_title_back.svg');
    background-size : cover;
    border-bottom-color : white;
    border-bottom-width : 2px;
    border-bottom-style : solid;
}

.intoTitleBack {
    background-image: url('../imagenes/inicio/title2back.svg');
}


.TransMint {
    background-image: url('../imagenes/inicio/trasnmintdeg.svg');
    background-size : cover;
}
    .TransMint:hover {
        background-image: url('../imagenes/inicio/trasnmintdegdet.svg');
        background-size: cover;
    }

.TransPink {
    background-image: url('../imagenes/inicio/trasnpinkdeg.svg');
    background-size: cover;
}
    .TransPink:hover {
        background-image: url('../imagenes/inicio/trasnpinkdegdet.svg');
        background-size: cover;
    }

.TransBlue {
    background-image: url('../imagenes/inicio/trasnbluedeg.svg');
    background-size: cover;
    
}

onrotation{



}

    onrotation:hover {
        animation: onrotate;
        animation-duration: 1s;
        animation-direction: normal;
        animation-fill-mode: forwards;
    }



    .TransBlue:hover {
        /*background-image: url('../imagenes/inicio/trasnbluedegdet.svg');*/
        animation : blueAnim;
        animation-duration : 0.5s;
        animation-direction : normal;
        animation-fill-mode : forwards;
        background-size: cover;
    }
.cajasanim {
    opacity: 0;  /*Inicialmente oculto */
    animation-name: aparecer;
    animation-duration: 2s; /* Duración de la animación */
    animation-delay: 0.5s; /* Retraso antes de comenzar la animación */
    animation-fill-mode: forwards; /* Mantiene el estado final de la animación */
    transition: width 0.5s ease, height 0.5s ease;
}

@keyframes aparecer {
    from {
        opacity: 0; /* Comienza completamente transparente */
    }

    to {
        opacity: 1; /* Termina completamente visible */
    }
}


.cajasHide {
    opacity: 100; /*Inicialmente oculto */
    animation-name: Desaparecer;
    animation-duration: 2s; /* Duración de la animación */
    animation-delay: 0.5s; /* Retraso antes de comenzar la animación */
    animation-fill-mode: forwards; /* Mantiene el estado final de la animación */
    transition: width 0.5s ease, height 0.5s ease;
}

@keyframes Desaparecer {
    from {
        opacity:100; /* Comienza completamente transparente */
    }

    to {
        opacity: 0; /* Termina completamente visible */
    }
}

@keyframes blueAnim{

    0% {
        background-image: url('../imagenes/inicio/trasnbluedeg.svg');
        border-color: black;
       
    }
    20% {
        background-image: url('../imagenes/inicio/transbluedeganim/trasnbluedegdet1.svg');
    }
    40% {
        background-image: url('../imagenes/inicio/transbluedeganim/trasnbluedegdet2.svg');
    }
    60% {
        background-image: url('../imagenes/inicio/transbluedeganim/trasnbluedegdet3.svg');
    }
    80% {
        background-image: url('../imagenes/inicio/transbluedeganim/trasnbluedegdet4.svg');
    }
    100% {
        background-image: url('../imagenes/inicio/transbluedeganim/trasnbluedegdet5.svg');
        border-color: white;
        
    }

}

@keyframes onrotate{

    from {
        transform: rotate3d(0, 1, 0, 0deg);
    }
    to {
        transform: rotate3d(0, 1, 0, 15deg);
    }
}