body {
    background: rgb(255, 255, 255);
    /*background-image: url('../imagenes/sunshine-2250.gif');
    background-size : cover;*/
}

.myalingY{
    
    position: relative;
    top : 150px;
    border-radius : 0px;
    

}
.myadjust{

    height : 400px;

}

.loginbg {
    background-image: url('../imagenes/window_base.svg');
    background-size : cover;
    border-bottom : solid;
    border-bottom-color : lightgray;
    border-bottom-width : 5px;

}

.txtcajas{

    border : solid;
    border-color : lightgray;
    border-width : 3px;


}

p{

    color : gray;

}

h1{

    color : gray;

}

.ongray {
    color: gray;
}

.onbtn:hover{

    background-color : darkgray;

}
