body {
    /*background: rgb(255, 255, 255);*/
    /*background-image: url('../imagenes/sunshine-2250.gif');*/
    /*background-image: url('../imagenes/backreglogin.gif');*/
    background-image: url('../imagenes/back1 (1).gif');
    background-size: cover;
}

.myalingY{
    
    position: relative;
    top : 150px;
    border-radius : 0px;
    

}
.myadjust{

    height : 400px;

}

.loginbg {
    background-image: url('../imagenes/window_base.svg');
    background-size : cover;
    border-bottom : solid;
    border-bottom-color : lightgray;
    border-bottom-width : 5px;

}

.txtcajas{

    background-color : rgb(22, 22, 22);
    border : solid;
    border-color : lightgray;
    border-width : 3px;
    color : white;

}

p{

    color : white;

}

h1{

    color : lightblue;

}

.ongray {
    color: lightblue;
}

.onbtn:hover{

    background-color : darkgray;

}
