body {
    background: rgb(158,152,255);
    background: linear-gradient(90deg, rgba(158,152,255,1) 0%, rgba(164,164,204,1) 51%, rgba(223,250,255,1) 100%);
}

.myalingY{
    
    position: relative;
    top : 150px;
    border-radius : 5px;
    opacity:80%;

}
.myadjust{

    height : 300px;

}