body {
    background-image: url('../imagenes/projectsBack.svg');
    background-size : cover;
}

.myLista{

    height : 300px;

}

.botones {
    border: solid;
    border-color: lightgray;
    border-width: 3px;
    background-color : gray;
}

.botones:hover {
    border: double;
    border-color: dimgray;
    border-width: 3px;
    background-color: lightslategray;
}

.projbox {
    color: white;
    border: solid;
    border-color: dimgray;
    border-width: 2px;
    /*background-color:white;*/
    background-image: url('../imagenes/normProj.svg');
    background-size: cover;
    transition: width 0.5s ease, height 0.5s ease;
}

    .projbox:hover {
        background-image: url('../imagenes/leave.svg');
        background-size : cover;
        border: solid;
        border-color: gray;
        border-width: 2px;
        color : white;
        /*background-color: lightslategray;*/
    }


.cajasanim {
    opacity: 0; /* Inicialmente oculto */
    animation-name: aparecer;
    animation-duration: 2s; /* Duración de la animación */
    animation-delay: 0.5s; /* Retraso antes de comenzar la animación */
    animation-fill-mode: forwards; /* Mantiene el estado final de la animación */
    transition: width 0.5s ease, height 0.5s ease;
}

@keyframes aparecer {
    from {
        opacity: 0; /* Comienza completamente transparente */
    }

    to {
        opacity: 1; /* Termina completamente visible */
    }
}