
* {

    margin : 0px;
    padding : 0px;

}

body {
    /*background-image: url('../imagenes/backreglogin.gif');*/
    /*background-image: url('../imagenes/back1 (1).gif');*/
    background-image: url('../imagenes/logregback3.gif');
    background-size: cover;
}

.regbox {
    position: relative;
    top: 50px;
    height: 600px;
    background-image: url('../imagenes/regbox.svg');
    background-size : cover;
    color: gray;
    border-style : solid;
    border-width : 2px;
    border-color : gray;
}


.txtcajas {
    background-color : rgb(29, 29, 29);
    border: none;
    border-bottom : solid;
    border-color: lightgray;
    border-width: 1px;
}

.isbtn {
    background-color: rgb(29, 29, 29);
    border: solid;    
    border-color: lightgray;
    border-width: 1px;
}

.onbtn:hover {
    background-color: darkgray;
}

.ongray {
    color: white;
}