
* {

    margin : 0px;
    padding : 0px;

}

body {
    /*background-image: url('../imagenes/backreglogin.gif');*/
    background-image: url('../imagenes/back1 (1).gif');
    background-size: cover;
}

.regbox {
    position: relative;
    top: 50px;
    height: 600px;
    background-image: url('../imagenes/regbox.svg');
    background-size : cover;
    color: gray;
}


.txtcajas {
    background-color : rgb(16, 16, 16);
    border: solid;
    border-color: lightgray;
    border-width: 3px;
}

.onbtn:hover {
    background-color: darkgray;
}

.ongray {
    color: white;
}