body {
    background-image: url('../imagenes/SharedWithMeBack.svg');
    background-size:cover;
}


.cajaProj {
    border-width: 1px;
    border-color: black;
    border-style: solid;
    position: relative;
    top: 0px;
}

.cajaProj:hover{

    animation : cajaProjHover;
    animation-duration : 0.5s;
    animation-fill-mode : forwards;
}



@keyframes cajaProjHover {

    0% {
        border-color: black;
        border-style: solid;
        position: relative;
        top: 0px;
    }
    100% {
        border-color: lightblue;
        border-style: double;
        position: relative;
        top: -10px;
    }





}

.cajasanim {
    opacity: 0; /* Inicialmente oculto */
    animation-name: aparecer;
    animation-duration: 2s; /* Duración de la animación */
    animation-delay: 0.5s; /* Retraso antes de comenzar la animación */
    animation-fill-mode: forwards; /* Mantiene el estado final de la animación */
    transition: width 0.5s ease, height 0.5s ease;
}

@keyframes aparecer {
    from {
        opacity: 0; /* Comienza completamente transparente */
    }

    to {
        opacity: 1; /* Termina completamente visible */
    }
}



.NotVisible {
    display: none;
}

.botones {
    border: solid;
    border-color: lightgray;
    border-width: 3px;
    background-color: gray;
}

    .botones:hover {
        border: double;
        border-color: dimgray;
        border-width: 3px;
        background-color: lightslategray;
    }

.txtcajas {
    border: solid;
    border-color: lightgray;
    border-width: 3px;
}

