body {
}


.TKbuttonBase{

    border : outset;
    color : black;
    background-color : lightgray;
    

}


.TKbuttonBase:hover{

    border : outset;
    color : black;
    background-color : lightsalmon;
    

}

.TKtextboxBase{

    border : solid;
    border-width: 1px;
    border-color : gray;
    background-color : white;
    color : black;


}
.TKtextboxBase:hover{

    border : solid;
    border-width: 1px;
    border-color : gray;
    background-color : lightgreen;
    color : black;
    

}

.TkLabelBase{

    color : black;
    


}


    .TkLabelBase:hover {
        color: red;
        background-color: mediumpurple;
    }

.TkCheckBoxBase{

    color : black;

}


    .TkCheckBoxBase:hover {
        color: black;
        background-color: lightsalmon;
    }

.FadeInAnim {
    opacity: 0; /* Inicialmente oculto */
    animation-name: aparecer;
    animation-duration: 1s; /* Duración de la animación */
    animation-delay: 0s; /* Retraso antes de comenzar la animación */
    animation-fill-mode: forwards; /* Mantiene el estado final de la animación */
    transition: width 0.5s ease, height 0.5s ease;
}

@keyframes aparecer {
    from {
        opacity: 0; /* Comienza completamente transparente */
    }

    to {
        opacity: 1; /* Termina completamente visible */
    }
}

.checkindicatorInactive {
    background-image: url('../imagenes/checkidentityfalse.svg');
    background-size: cover;
}


.checkindicatorActive {
    background-image: url('../imagenes/checkidentitytrue.svg');
    background-size: cover;
    
}






